<div class="section">
    <div class="container">
        <h3>Product Detail</h3>
        <div class="row">
            <div class="col-md-4">
                <img src="{{ product.image }}" style="position: absolute; width: 400px; height: 400px" alt="" />
            </div>
            <div class="col-md-7 offset-1">
                <p>Name : {{ product.name}}</p>
                <p>Category: {{ product.category}}</p>
                <p>Brand: {{ product.brand}}</p>
                <p>Price: {{ product.price}}</p>
                <p>Net Price: {{ product.netPrice}}</p>
                <p>Discount: {{ product.discount}}</p>
            </div>
        </div>
    </div>
</div>