<div class="container">
    <div class="row">
        <div class="login-form">
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <h2 class="text-center">Log In</h2>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Username or Email" formControlName="emailId"
                        [ngClass]="{ 'is-invalid': submitted && f.emailId.errors }">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" formControlName="password"
                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                </div>
                <div class="form-group">
                    <button type="Submit" class="btn btn-primary btn-block">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>